

<!-- <hinv-rooms></hinv-rooms> -->

<!-- content projection -->
<!-- This allows us to add elements inside the selector of a component
the components template has a ng-content in it -->

<!-- This doesn't work because hinv-rooms doesn't have ng-content in it
<hinv-rooms>
    <h1>this is from ng-content</h1>
</hinv-rooms> -->


<!-- in hinv-container we defined the order in which components are to be rendered
we placed the employee component first and then the rooms component
but in the below code we added rooms component first and then the employee component
but still it maintains the order than we have in the container component -->
<hinv-container>
    <hinv-rooms></hinv-rooms>
    <hinv-employee></hinv-employee>
</hinv-container>



<!-- Switch case  -->
<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">
        Welcome User
    </div>
    <div *ngSwitchCase="'Admin'">
        <hinv-rooms></hinv-rooms>
    </div>
    <div *ngSwitchDefault="">
        You are not authorized to view this page
    </div>
</div> -->




<!-- dynamic rendering of components -->
<!-- ng-template never renders anything on its own, it helps to render some other template/component -->
<!-- <div>
    <ng-template #user></ng-template>
</div> -->